[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
keras = "*"
tensorflow = "*"
jupyter = "*"
pillow = "*"
matplotlib = "*"
pydot = "*"
h5py = "*"
speechrecognition = "*"
pyaudio = "*"
ludwig = "*"
opencv-python = "*"
spacy = "*"
opencv-contrib-python = "*"
unicode = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
